body {
  background:#cccccc !important;
}

img { max-width: 100%; }

main {
  background: #e3e3e3;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

main.padding {
  padding-left: 100px;
  padding-right: 100px;
}

lead {
  text-align: center;
}

h1 {
  text-align: center;
  font-size:48px;
  margin-top:10;
  font-family:Arial, sans-serif;
  letter-spacing:4px;
  text-decoration:none;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

row {
  text-align: center;
}

section {
  padding: 30px 0;
  margin: 20px 0;
}