{
background-color:#000;
}

h1
{
font-size:48px;
margin-top:10;
font-family:Arial, sans-serif;
text-shadow:2px 0 15px #292929;
letter-spacing:4px;
text-decoration:none;
color:#DDD;
}

#banner
{
width:500px;
height:200px;
text-align:center;
background-image:url(http://i2.dailyrecord.co.uk/incoming/article1121667.ece/binary/sex-trafficking-image-1-48602383.jpg);
background-repeat:no-repeat;
border-radius:5px;
margin:90px auto auto;
padding:80px 0;
}

#adform
{
width:800px;
height:50px;
text-align:center;
background-image:url();
background-color:rgba(255,255,255);
background-repeat:no-repeat;
border-radius:5px;
margin:40px auto auto;
padding:80px 0;
}

.lead
{
background-color:rgba(255,255,255,0.6);
border-radius:3px;
box-shadow:rgba(0,0,0,0.2) 0 1px 3px;
font-family:Sintony, sans-serif;
}