<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- if I remove this next line, the font changes and the button and sizing is less stylized -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
    
    <title>EchoRoot</title>

  <body>
      <section id="with-container-fluid">
              <h1>EchoRoot</h1>
            <div class="container-fluid">
                <div class="row">                    
                    <h4>
                    <div class="col-xs-4">
                        <h5><a href="/adanalysis" class="btn btn-lg btn-default">Get Random Ad</a></h5>
                    </div>
                    <div class="col-xs-4">
                        <h5><a href="/adanalysis" class="btn btn-lg btn-default">See Features</a></h5>
                    </div>
                    <div class="col-xs-4">
                        <h5><a href="/adanalysis" class="btn btn-lg btn-default">Precision and Recall</a></h5>
                    </div>
                    </h4>
                </div>
            </div>
        </section>

    <section id="with-container-fluid">  
      <h5>Data Science for Good.</h5> 
    </section>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  </body>