<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- if I remove this next line, the font changes and the button and sizing is less stylized -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- When I remove this, the grey boxes go away <link rel="stylesheet" href="/static/css/style.css"> -->
    
    <title>EchoRoot</title>

  </head>
  

  <body>
    <div id="banner">
        <p class="lead">Can machine learning techniques uncover signs of sex trafficking in online sex ads?</p>
    </div>

    <div id="adform">
        <p class="lead">Using a database of blah sex ads from backpage.com, each with blah attributes, blah blah.</p>
    </div>

    <div>
    <a class="btn btn-success" type="button" href="http://example.com">Retrieve Random Ad</a>
    </div>

 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
<!--
  <h1>Data science for social good.</h1>
  <h2><a href="/melons">Explore now.</a></h2>
-->

  </body>
</html>


