<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- if I remove this next line, the font changes and the button and sizing is less stylized -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
    
    <title>EchoRoot</title>

  <body>
      <section id="with-container-fluid">
            <h1>EchoRoot</h1>
            <div>
            <h1><img src="/static/img/Bernoulli_Ad_Histogram.png"><h1>
            </div>
            <div class="container-fluid">
                <div class="row">                    
                    <h4>
                    <div class="col-xs-4">
                        <p> Sample Ad: </p>
                        <p>['"no blocked or private callsonly available at night until one in the morninghavent been around a guy in close to a yearhave a big butt and know how to use itcall me for specials you can call me at 9802419260200 for 30300 for hour"']</p>
                        <p>binary classification: ['trafficky']</p>
                        <p>probability classification: 0.91</p>
                    </div>
                    <div class="col-xs-4">
                        <p> Feature List: </p>
                        <p>(-0.46197731837150702, u'real'), (-0.50352632128437946, u'100'), (-0.51572159437819742, u'im'), (-0.96508089604358727, u'ready'), (-0.98449898190068907, u'love'), (-1.01435194505037, u'pics'), (-1.143563676530376, u'experience'), (-1.2150226405125206, u'506'), (-1.2150226405125206, u'0509'), (-1.3054067019807896, u'recent')</p>
                        <p>Total Feature List Length: 2122</p>
                    </div>
                    <div class="col-xs-4">
                        <p>Precision: </p>
                        <p>0.897557421321 +/- 0.00512714243696</p> 
                        <p>Recall:</p> 
                        <p>0.911124777914 +/- 0.0814951482848</p>
                    </div>
                    </h4>
                </div>
            </div>
        </section>

    <section id="with-container-fluid"> 
        <h5><a href="/" class="btn btn-lg btn-default">Home</a></h5> 
        <h5>Data Science for Good.</h5> 
    </section>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>

  </body>