<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- if I remove this next line, the font changes and the button and sizing is less stylized -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- When I remove this, the grey boxes go away <link rel="stylesheet" href="/static/css/style.css"> -->

    
    <title>EchoRoot</title>

  </head>


  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/img/sex-trafficking-image-1.jpg">
                <h1 class="cover-heading">EchoRoot</h1>
              </div>
            </div>
            <p class="lead">Explanation here.
            <p class="lead">
              <a href="/adanalysis" class="btn btn-lg btn-default">Analyze Ads</a>
            </p>
                    <div class="mastfoot">
                    <div class="inner">
                      <p>Data Science for Good.</p>
                </div>              
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  </body>
